.comment-section {
    display: flex;
    flex-direction: column;
}

.comment-section form{
    margin: 1em;
    padding: 0.5em;
    border: 2px dotted grey;
}

.comment-section .comment{
    margin: 1em;
    padding: 0.5em;
    border: 2px solid grey;
}

.comment-section h1 {
    white-space: nowrap;
    width: 100%;
}

.comment-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-section .radios input {
    margin-right: 2px;
}

.comment-section label {
    margin-right: 0.5em;
}

.comment-section .post-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comment-section .post-buttons {
    width: min-content;
    display: flex;
    flex-direction: column;
}
