.project-panel {
    display: flex;
    flex-flow: row wrap;
    margin-top: 9.5em;
    justify-content: space-evenly;
}

@media(min-width: 993px) {
    .project-panel {
        margin-top: 6em;
    }
}