.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202225;
    display: flex;
    flex-wrap: wrap;
}

.nav-bar .left-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-bar .right-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-bar .right-wrapper li {
    margin: 0.5em 1px;
    font-size: 1.5em;
}

.nav-bar .left-wrapper li {
    font-size: 1.5em;
    margin: 0.5em 1em 0 0.5em;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar li, .nav-bar a {
    color: white;
}

.nav-bar span {
    user-select: none;
    top: 0.1em;
}

.nav-bar a {
    padding: 0.5em;
    border-radius: 5px;
}

.nav-bar a:hover {
    text-decoration: none;
    color: #202225;
    background-color: white;
}

.nav-bar .active {
    box-shadow: 0px 0px 0px 2px white inset; /*Border contained in bounds of element*/
}

@media(min-width: 993px) {
    .nav-bar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .nav-bar .right-wrapper {
        width: max-content;
        justify-content: end;
    }

    .nav-bar .left-wrapper {
        width: max-content;
        justify-content: start;
    }
}