/* App */

.app footer {
    margin-left: 1em;
    position: absolute;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202225;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.navbar .left-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar .right-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar .right-wrapper li {
    margin: 0.5em 1px;
    font-size: 1.5em;
}

.navbar .left-wrapper li {
    font-size: 1.5em;
}

.navbar li {
    display: inline-block;
}

.navbar li, .navbar a {
    color: white;
}

.navbar span {
    user-select: none;
    top: 0.1em;
}

.navbar a {
    padding: 0.5em;
    border-radius: 5px;
}

.navbar a:hover {
    text-decoration: none;
    color: #202225;
    background-color: white;
}

.navbar .active {
    box-shadow: 0px 0px 0px 2px white inset; /*Border contained in bounds of element*/
}

@media(min-width: 993px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .navbar .right-wrapper {
        width: max-content;
        justify-content: end;
    }

    .navbar .left-wrapper {
        width: max-content;
        justify-content: start;
    }
}

/* FilterDropdown */

.filter-dropdown label {
    padding-right: 0.5em;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202225;
    display: flex;
    flex-wrap: wrap;
}

.navbar .left-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.navbar .right-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar .right-wrapper li {
    margin: 0.5em 1px;
    font-size: 1.5em;
}

.navbar .left-wrapper li {
    font-size: 1.5em;
    margin: 0.5em 1em 0 0.5em;
}

.navbar li {
    display: inline-block;
}

.navbar li, .nav-bar a {
    color: white;
}

.navbar span {
    user-select: none;
    top: 0.1em;
}

.navbar a {
    padding: 0.5em;
    border-radius: 5px;
}

.navbar a:hover {
    text-decoration: none;
    color: #202225;
    background-color: white;
}

.navbar .active {
    box-shadow: 0px 0px 0px 2px white inset; /*Border contained in bounds of element*/
}

@media(min-width: 993px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .navbar .right-wrapper {
        width: max-content;
        justify-content: end;
    }

    .navbar .left-wrapper {
        width: max-content;
        justify-content: start;
    }
}

/* ProjectsPanel */

.project-panel {
    display: flex;
    flex-flow: row wrap;
    margin-top: 9.5em;
    justify-content: space-evenly;
}

@media(min-width: 993px) {
    .project-panel {
        margin-top: 6em;
    }
}

/* ProjectCard */

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    height: min-content;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 2em;
    padding: 1em;
}

.project-card header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-card h1 {
    font-style: italic;
}

.project-card .song-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-card .header-wrapper, .project-card .song-buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-card img {
    width: 400px;
}

/* CommentSection */

.comment-section {
    display: flex;
    flex-direction: column;
}

.comment-section form{
    margin: 1em;
    padding: 0.5em;
    border: 2px dotted grey;
}

.comment-section .comment{
    margin: 1em;
    padding: 0.5em;
    border: 2px solid grey;
}

.comment-section h1 {
    white-space: nowrap;
    width: 100%;
}

.comment-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-section .radios input {
    margin-right: 2px;
}

.comment-section label {
    margin-right: 0.5em;
}

.comment-section .post-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comment-section .post-buttons {
    width: min-content;
    display: flex;
    flex-direction: column;
}

/* Profile Page */

header.profile-page {
    background-color: #909090;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0.25rem;
  }

  header.profile-page img{
    max-width: 100px;
    margin-top: 5rem;
  }


/* Project Page */
.project-page img {
    max-width: 400px;
}
  
.project-page header {
    background-color: #909090;
    text-align: center;
}

.project-page .wrapper p {
    font-size: 1.5rem;
}