/* TODO: Improve responsive design (for smaller screens, larger is fine) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* App */

.app {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 5.5em;
}

.app main {
    margin-top: 7em;
}

.app footer {
    color: white;
    background-color: #202225;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5.5em;
}

.app footer p{
    margin-top: 0.5em;
    margin-left: 0.5em;
}

@media(min-width: 775px) {
    .app main {
        margin-top: 6em;
    }
}

/* Text */

h1, h2, h3 {
    font-weight: 300;
}

p {
    font-weight: 400;
}

/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202225;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    padding: 0;
    z-index : 1;
}

.navbar .first-container {
    display: flex;
    flex-wrap: nowrap;
}

.navbar .second-container {
    display: flex;
    flex-wrap: nowrap;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
}

.navbar .first-container li {
    padding: 0.5em 0.5em 0 0.5em;
    font-size: 1em;
}

.navbar .second-container li {
    padding: 0.5em 1px;
    font-size: 1.5em;
}

.navbar li {
    display: inline-block;
}

.navbar li, .navbar a {
    color: white;
}

.navbar span {
    user-select: none;
}

.navbar a {
    padding: 0.5em 0.5em 0.4em 0.5em;
}

.navbar a:hover {
    text-decoration: none;
    color: #202225;
    background-color: white;
}

.navbar .active {
    box-shadow: 0px -3px white inset; /*Border contained in bounds of element*/
}

@media(min-width: 481px) {
    .navbar .first-container li {
        font-size: 1.5em;
    }
}

@media(min-width: 1025px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

/* FilterDropdown */

.filter-dropdown label {
    padding-right: 0.5em;
}

/* ProjectList */

.project-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

/* ProjectCard */

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: min-content;
    box-shadow: 7px 7px 5px lightgrey;
    border-radius: 10px;
    margin: 2em;
    transition: transform 100ms ease-in;
}

.project-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.project-card header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project-card h1 {
    font-size: 1.5em;
    font-style: italic;
}

.project-card h2 {
    font-size: 1em;
}

.song-buttons {
    display: flex;
}

.project-card button {
    margin-right: 0.2em;
}

.project-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}

.project-card img {
    border-radius: 10px 10px 0 0;
    width: 300px;
}

@media(min-width: 768px) {
    .project-card h1 {
        font-size: 2em;
    }
    
    .project-card h2 {
        font-size: 1.5em;
    }

    .project-card img {
        border-radius: 10px 10px 0 0;
        width: 400px;
    }
}

/* CommentSection */

.comment-section {
    display: flex;
    flex-direction: column;
}

.comment-section form{
    margin: 1em;
    padding: 0.5em;
    border: 2px dotted grey;
}

.comment-section .comment{
    margin: 1em;
    padding: 0.5em;
    border: 2px solid grey;
}

.comment-section h1 {
    white-space: nowrap;
    width: 100%;
}

.comment-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comment-section .radios input {
    margin-right: 2px;
}

.comment-section label {
    margin-right: 0.5em;
}

.comment-section .post-buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.comment-section .post-buttons {
    width: min-content;
    display: flex;
    flex-direction: column;
}

/* Profile Page */

header.profile-page, .citations-page header{
    background-color: #909090;
    margin-bottom: 0;
    margin-top: 60px;
    padding-bottom: 3rem;
  }

.profile {
    padding: 5rem 0;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image img {
    height: 300px;
}

.profile-page h1 {
    display: inline-block;
    font-size: 3.2rem;
}

.profile-page h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.profile-info {
    float: left;
    font-size: 1.6rem;
    line-height: 1.5;
    width: calc(66.666% - 2rem);
}

.projects-title {
    font-size: 2.5rem;
}

/* Project Page */
.project-page img {
    height: 300px;
    margin-bottom: 0;
}
  
.project-page header {
    background-color: #909090;
    text-align: center;
    padding-top: 80px;
}

.project-page h1 {
    font-size: 2.7rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.project-page h2 {
    font-size: 1.5rem;
}

.project-page .wrapper p {
    font-size: 1.3rem;
}

.project-page .audioPlayer{
    margin-right: 10px;
}
.project-page .btn {
    padding: 13px;
    margin-bottom: 2.5rem;
    border-radius: 30px;
    margin-top: 0;
}

.wrapper {
    margin-left: 3rem;
}

.project-page .wrapper {
    margin-top: 3rem;
}

/* Citations page */
.citations-page header h1 {
    padding-top: 60px;
    font-size: 3rem;
}

.citations-page h2 {
    font-size: 1.8rem;
    padding-top: 20px;
}

.citations-page h3 {
    font-size: 1.3rem;
    margin-top: 35px;
}

.citations-page p {
    font-size: 1rem;
}

.margin-50 {
    margin-left: 50px;
}